config/bots-config.js
redis-full-dump.json
ui-mapping.json
db/.env
.env
node_modules
node_modules/
modules/logs/chat.jsonl
profiles/clara_profile.json
profiles/dorian_profile.json
profiles/jimmy_profile.json

profiles/satoshi_profile.json
profiles/zyn_profile.json
profiles/kael_profile.json